In [2]:
import pandas as pd

In [17]:
data = pd.read_csv("IHME-GBD_2019_DATA-f4377959-1/IHME-GBD_2019_DATA-f4377959-1.csv")
data

unique_values_Yld = data['cause_name'].unique()
unique_values_Yld

array(['Sickle cell disorders',
       'HIV/AIDS - Drug-susceptible Tuberculosis',
       'Upper digestive system diseases',
       'Chronic kidney disease due to diabetes mellitus type 1',
       'Chronic kidney disease due to diabetes mellitus type 2',
       'Communicable, maternal, neonatal, and nutritional diseases',
       'Other non-communicable diseases', 'Vitamin A deficiency',
       'Dietary iron deficiency', 'Uterine fibroids',
       'Neglected tropical diseases and malaria', 'Malaria',
       'HIV/AIDS resulting in other diseases', 'Thalassemias',
       'G6PD deficiency', 'Other gynecological diseases',
       'Hemoglobinopathies and hemolytic anemias', 'Thalassemias trait',
       'All causes', 'Intestinal nematode infections', 'Hookworm disease',
       'Chronic kidney disease due to other and unspecified causes',
       'Other hemoglobinopathies and hemolytic anemias',
       'Chronic kidney disease',
       'Endocrine, metabolic, blood, and immune disorders',
       'Other infectious diseases',
       'HIV/AIDS and sexually transmitted infections',
       'Diabetes and kidney diseases', 'Maternal and neonatal disorders',
       'Maternal hemorrhage', 'Inflammatory bowel disease', 'HIV/AIDS',
       'HIV/AIDS - Multidrug-resistant Tuberculosis without extensive drug resistance',
       'Schistosomiasis', 'Non-communicable diseases',
       'Sickle cell trait', 'G6PD trait', 'Gynecological diseases',
       'Nutritional deficiencies', 'Gastritis and duodenitis',
       'Other unspecified infectious diseases',
       'Chronic kidney disease due to hypertension',
       'Chronic kidney disease due to glomerulonephritis',
       'Digestive diseases', 'Peptic ulcer disease',
       'Other neglected tropical diseases',
       'HIV/AIDS - Extensively drug-resistant Tuberculosis',
       'Maternal disorders'], dtype=object)

In [9]:
data_filtered = data[data['measure_name'] == 'Prevalence']
data_filtered

Empty DataFrame
Columns: [measure_id, measure_name, location_id, location_name, sex_id, sex_name, age_id, age_name, cause_id, cause_name, rei_id, rei_name, metric_id, metric_name, year, val, upper, lower]
Index: []

In [10]:
data2 = pd.read_csv("IHME-GBD_2019_DATA-f4377959-2/IHME-GBD_2019_DATA-f4377959-2.csv")

data2_filtered = data2[data2['measure_name'] == 'Prevalence']
data2_filtered

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,rei_id,rei_name,metric_id,metric_name,year,val,upper,lower
12856,5,Prevalence,43,Albania,3,Both,22,All ages,604,Uterine fibroids,207,Severe anemia,1,Number,2017,7.682419,10.483313,5.579096
12857,5,Prevalence,43,Albania,3,Both,22,All ages,604,Uterine fibroids,207,Severe anemia,2,Percent,2017,0.000079,0.000100,0.000062
12858,5,Prevalence,43,Albania,3,Both,22,All ages,604,Uterine fibroids,207,Severe anemia,3,Rate,2017,0.279432,0.381309,0.202928
12859,5,Prevalence,43,Albania,3,Both,22,All ages,612,Other gynecological diseases,192,Anemia,1,Number,2017,7494.228307,9849.199260,5507.552161
12860,5,Prevalence,43,Albania,3,Both,22,All ages,612,Other gynecological diseases,192,Anemia,2,Percent,2017,0.053303,0.070649,0.038808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,5,Prevalence,92,Spain,3,Both,22,All ages,992,Upper digestive system diseases,206,Moderate anemia,3,Rate,2019,18.148766,25.871516,12.750955
499996,5,Prevalence,92,Spain,3,Both,22,All ages,992,Upper digestive system diseases,207,Severe anemia,1,Number,2019,151.803818,245.279767,92.279533
499997,5,Prevalence,92,Spain,3,Both,22,All ages,992,Upper digestive system diseases,207,Severe anemia,2,Percent,2019,0.000034,0.000056,0.000020
499998,5,Prevalence,92,Spain,3,Both,22,All ages,992,Upper digestive system diseases,207,Severe anemia,3,Rate,2019,0.329856,0.532971,0.200515
499999,5,Prevalence,92,Spain,3,Both,22,All ages,997,Chronic kidney disease due to diabetes mellitu...,192,Anemia,1,Number,2019,1966.600774,2910.110742,1305.351412

In [11]:
data3 = pd.read_csv("IHME-GBD_2019_DATA-f4377959-3/IHME-GBD_2019_DATA-f4377959-3.csv")
data3

data3_filtered = data3[data3['measure_name'] == 'Prevalence']
data3_filtered

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,rei_id,rei_name,metric_id,metric_name,year,val,upper,lower
0,5,Prevalence,92,Spain,3,Both,22,All ages,997,Chronic kidney disease due to diabetes mellitu...,192,Anemia,2,Percent,2019,0.057314,0.083224,0.037938
1,5,Prevalence,92,Spain,3,Both,22,All ages,997,Chronic kidney disease due to diabetes mellitu...,192,Anemia,3,Rate,2019,4.273248,6.323411,2.836412
2,5,Prevalence,92,Spain,3,Both,22,All ages,997,Chronic kidney disease due to diabetes mellitu...,205,Mild anemia,1,Number,2019,1626.662938,2382.245618,1089.316184
3,5,Prevalence,92,Spain,3,Both,22,All ages,997,Chronic kidney disease due to diabetes mellitu...,205,Mild anemia,2,Percent,2019,0.047413,0.068592,0.031762
4,5,Prevalence,92,Spain,3,Both,22,All ages,997,Chronic kidney disease due to diabetes mellitu...,205,Mild anemia,3,Rate,2019,3.534593,5.176407,2.366987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25707,5,Prevalence,396,San Marino,3,Both,22,All ages,618,Other hemoglobinopathies and hemolytic anemias,217,Mild heart failure,2,Percent,2019,0.001174,0.001813,0.000721
25708,5,Prevalence,396,San Marino,3,Both,22,All ages,618,Other hemoglobinopathies and hemolytic anemias,217,Mild heart failure,3,Rate,2019,0.223920,0.317119,0.149575
25709,5,Prevalence,396,San Marino,3,Both,22,All ages,618,Other hemoglobinopathies and hemolytic anemias,218,Moderate heart failure,1,Number,2019,0.048773,0.071248,0.032686
25710,5,Prevalence,396,San Marino,3,Both,22,All ages,618,Other hemoglobinopathies and hemolytic anemias,218,Moderate heart failure,2,Percent,2019,0.000773,0.001204,0.000470
25711,5,Prevalence,396,San Marino,3,Both,22,All ages,618,Other hemoglobinopathies and hemolytic anemias,218,Moderate heart failure,3,Rate,2019,0.147352,0.215253,0.098751

In [12]:
full_prevalence_data = pd.concat([data2_filtered, data3_filtered], ignore_index=True)

In [14]:
unique_values = full_prevalence_data['cause_name'].unique()

In [15]:
unique_values

array(['Uterine fibroids', 'Other gynecological diseases',
       'Other non-communicable diseases', 'Dietary iron deficiency',
       'Malaria', 'Schistosomiasis', 'Other infectious diseases',
       'Neglected tropical diseases and malaria',
       'HIV/AIDS and sexually transmitted infections', 'All causes',
       'Communicable, maternal, neonatal, and nutritional diseases',
       'Chronic kidney disease due to other and unspecified causes',
       'Gynecological diseases', 'Other unspecified infectious diseases',
       'Non-communicable diseases',
       'Other hemoglobinopathies and hemolytic anemias',
       'Endocrine, metabolic, blood, and immune disorders',
       'Diabetes and kidney diseases', 'Upper digestive system diseases',
       'Maternal and neonatal disorders', 'Gastritis and duodenitis',
       'Inflammatory bowel disease',
       'HIV/AIDS - Drug-susceptible Tuberculosis',
       'Hemoglobinopathies and hemolytic anemias', 'Thalassemias',
       'Chronic kidney disease due to diabetes mellitus type 1',
       'Chronic kidney disease due to diabetes mellitus type 2',
       'Vitamin A deficiency', 'Thalassemias trait', 'Sickle cell trait',
       'G6PD trait', 'Sickle cell disorders', 'G6PD deficiency',
       'HIV/AIDS - Multidrug-resistant Tuberculosis without extensive drug resistance',
       'Chronic kidney disease',
       'Chronic kidney disease due to hypertension',
       'Chronic kidney disease due to glomerulonephritis',
       'Hookworm disease',
       'HIV/AIDS - Extensively drug-resistant Tuberculosis',
       'Other neglected tropical diseases', 'Maternal disorders',
       'Nutritional deficiencies', 'HIV/AIDS', 'Maternal hemorrhage',
       'HIV/AIDS resulting in other diseases',
       'Intestinal nematode infections', 'Digestive diseases',
       'Peptic ulcer disease'], dtype=object)

In [ ]:
#missing tuperculosis (maybe in the other category) --> just in relation with HIV
# cardiovescular


# we have Diabetes and kidney disease , chronic kidney due to diabetes type 1 and 2
#dietary we have
#kidney

In [27]:
unique_values = full_prevalence_data['rei_name'].unique()
print(unique_values)

['Severe anemia' 'Anemia' 'Mild anemia' 'Moderate anemia'
 'Mild hearing loss' 'Moderate hearing loss'
 'Moderately severe hearing loss' 'Severe hearing loss' 'Blindness'
 'Epilepsy' 'Moderate heart failure' 'Severe heart failure'
 'Moderate intellectual disability' 'Severe intellectual disability'
 'Moderate vision loss' 'Severe vision loss' 'Treated heart failure'
 'Developmental intellectual disability' 'Blindness and vision loss'
 'Primary infertility' 'Secondary infertility'
 'Moderate pelvic inflammatory disease'
 'Severe pelvic inflammatory disease' 'Guillain-Barré syndrome'
 'Hearing loss' 'Heart failure' 'Infertility'
 'Profound intellectual disability' 'Pelvic inflammatory disease'
 'Treated epilepsy' 'Moderate epilepsy' 'Severe epilepsy'
 'Mild heart failure' 'Profound hearing loss' 'Complete hearing loss'
 'Mild intellectual disability' 'Presbyopia'
 'Borderline intellectual disability']

In [111]:
filtered_prevalence_data = full_prevalence_data [(full_prevalence_data ['cause_name'] == 'Dietary iron deficiency') | (full_prevalence_data ['cause_name'] == 'Diabetes and kidney diseases') | (full_prevalence_data ['cause_name'] == 'Vitamin A deficiency')| (full_prevalence_data ['cause_name'] == 'Chronic kidney disease due to diabetes mellitus type 1') | (full_prevalence_data ["cause_name"] == 'Nutritional deficiencies') | (full_prevalence_data["cause_name"] =="Chronic kidney disease due to diabetes mellitus type 2") | (full_prevalence_data["cause_name"] == 'Chronic kidney disease due to hypertension')]

filtered_data = filtered_prevalence_data[filtered_prevalence_data['metric_name']== 'Number']

In [112]:
filtered_data

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,rei_id,rei_name,metric_id,metric_name,year,val,upper,lower
27,5,Prevalence,48,Hungary,3,Both,22,All ages,390,Dietary iron deficiency,206,Moderate anemia,1,Number,2017,150994.567562,191821.975380,115581.091347
30,5,Prevalence,48,Hungary,3,Both,22,All ages,390,Dietary iron deficiency,207,Severe anemia,1,Number,2017,6496.928700,9073.506923,4607.196840
300,5,Prevalence,38,Mongolia,3,Both,22,All ages,974,Diabetes and kidney diseases,192,Anemia,1,Number,2017,26884.477842,29524.779254,24149.764503
303,5,Prevalence,38,Mongolia,3,Both,22,All ages,974,Diabetes and kidney diseases,200,Blindness and vision loss,1,Number,2017,444.822052,631.783745,302.113886
306,5,Prevalence,38,Mongolia,3,Both,22,All ages,974,Diabetes and kidney diseases,205,Mild anemia,1,Number,2017,13441.672735,15054.860292,11810.348396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512789,5,Prevalence,522,Sudan,3,Both,22,All ages,998,Chronic kidney disease due to diabetes mellitu...,207,Severe anemia,1,Number,2019,862.429870,1105.535472,663.433569
512804,5,Prevalence,396,San Marino,3,Both,22,All ages,591,Chronic kidney disease due to hypertension,192,Anemia,1,Number,2019,24.233756,31.368310,18.458418
512807,5,Prevalence,396,San Marino,3,Both,22,All ages,591,Chronic kidney disease due to hypertension,205,Mild anemia,1,Number,2019,19.827871,25.995998,14.998722
512810,5,Prevalence,396,San Marino,3,Both,22,All ages,591,Chronic kidney disease due to hypertension,206,Moderate anemia,1,Number,2019,4.246584,6.031802,2.884878
512813,5,Prevalence,396,San Marino,3,Both,22,All ages,591,Chronic kidney disease due to hypertension,207,Severe anemia,1,Number,2019,0.159301,0.245609,0.100360

In [98]:
unique_values = filtered_data['rei_name'].unique()

In [99]:
unique_values

array(['Moderate anemia', 'Severe anemia', 'Anemia',
       'Blindness and vision loss', 'Mild anemia', 'Moderate vision loss',
       'Severe vision loss', 'Blindness',
       'Severe intellectual disability',
       'Profound intellectual disability',
       'Developmental intellectual disability'], dtype=object)

In [100]:
#new data

data = pd.read_csv("IHME-GBD_2019_DATA-64743d99-1/IHME-GBD_2019_DATA-64743d99-1.csv")

In [101]:
data

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,rei_id,rei_name,metric_id,metric_name,year,val,upper,lower
0,3,YLDs (Years Lived with Disability),1,Global,3,Both,22,All ages,294,All causes,173,Cholera,1,Number,2017,4690.533399,8067.605701,2736.820363
1,3,YLDs (Years Lived with Disability),1,Global,3,Both,22,All ages,294,All causes,173,Cholera,1,Number,2019,4352.285650,7354.875891,2570.810583
2,3,YLDs (Years Lived with Disability),1,Global,3,Both,22,All ages,294,All causes,178,Campylobacter,1,Number,2017,449612.106718,711394.999506,258106.768152
3,3,YLDs (Years Lived with Disability),1,Global,3,Both,22,All ages,294,All causes,178,Campylobacter,1,Number,2019,473129.821552,753242.609699,271032.747902
4,3,YLDs (Years Lived with Disability),4,"Southeast Asia, East Asia, and Oceania",3,Both,22,All ages,956,Respiratory infections and tuberculosis,189,H influenzae type B,1,Number,2017,1072.881547,2228.173587,272.398501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58027,3,YLDs (Years Lived with Disability),53621,Sindh,3,Both,22,All ages,294,All causes,180,Cryptosporidium,1,Number,2019,1557.098251,2555.211003,877.225613
58028,3,YLDs (Years Lived with Disability),44889,Qom,3,Both,22,All ages,294,All causes,188,Pneumococcus,1,Number,2017,72.277736,103.997973,45.803222
58029,3,YLDs (Years Lived with Disability),44889,Qom,3,Both,22,All ages,294,All causes,188,Pneumococcus,1,Number,2019,74.636896,105.893961,47.646404
58030,3,YLDs (Years Lived with Disability),44869,Chahar Mahaal and Bakhtiari,3,Both,22,All ages,956,Respiratory infections and tuberculosis,190,Respiratory syncytial virus,1,Number,2017,4.063204,6.499147,2.438574
58031,3,YLDs (Years Lived with Disability),44869,Chahar Mahaal and Bakhtiari,3,Both,22,All ages,956,Respiratory infections and tuberculosis,190,Respiratory syncytial virus,1,Number,2019,3.999879,6.468043,2.369557

In [30]:
unique_values = data['cause_name'].unique()

In [31]:
unique_values

array(['All causes', 'Respiratory infections and tuberculosis',
       'Diarrheal diseases', 'Lower respiratory infections'], dtype=object)

In [34]:
unique_values = data['rei_name'].unique()

unique_values

array(['Cholera', 'Campylobacter', 'H influenzae type B',
       'Clostridium difficile', 'Enteropathogenic E coli',
       'Cryptosporidium', 'Influenza', 'Shigella',
       'Enterotoxigenic E coli', 'Rotavirus', 'Non-typhoidal Salmonella',
       'Adenovirus', 'Entamoeba', 'Aeromonas', 'Meningococcal meningitis',
       'Pneumococcus', 'Respiratory syncytial virus', 'Norovirus'],
      dtype=object)

In [ ]:


# respiratory and tuberculosis in this one


# still no cardiovascular disease

#diabtities just what i have in the first one

#respiratory either as cause or rei

#asthma still not found

#nutrional in the first sets

In [113]:
selection = data = data[(data['cause_name'] == 'Respiratory infections and tuberculosis') | (data['cause_name'] == 'Lower respiratory infections')]

In [114]:
test = selection['rei_name'].unique()
selection

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,rei_id,rei_name,metric_id,metric_name,year,val,upper,lower
4,3,YLDs (Years Lived with Disability),4,"Southeast Asia, East Asia, and Oceania",3,Both,22,All ages,956,Respiratory infections and tuberculosis,189,H influenzae type B,1,Number,2017,1072.881547,2228.173587,272.398501
5,3,YLDs (Years Lived with Disability),4,"Southeast Asia, East Asia, and Oceania",3,Both,22,All ages,956,Respiratory infections and tuberculosis,189,H influenzae type B,1,Number,2019,814.400345,1712.640888,206.623067
30,3,YLDs (Years Lived with Disability),20,Viet Nam,3,Both,22,All ages,956,Respiratory infections and tuberculosis,187,Influenza,1,Number,2017,2495.967958,3932.015608,1490.596291
31,3,YLDs (Years Lived with Disability),20,Viet Nam,3,Both,22,All ages,956,Respiratory infections and tuberculosis,187,Influenza,1,Number,2019,2531.050838,3967.873360,1545.691539
64,3,YLDs (Years Lived with Disability),13,Malaysia,3,Both,22,All ages,322,Lower respiratory infections,188,Pneumococcus,1,Number,2017,2009.943670,3074.628580,1137.106708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57967,3,YLDs (Years Lived with Disability),60133,Agder,3,Both,22,All ages,322,Lower respiratory infections,190,Respiratory syncytial virus,1,Number,2019,2.122574,3.172494,1.297128
58016,3,YLDs (Years Lived with Disability),44869,Chahar Mahaal and Bakhtiari,3,Both,22,All ages,322,Lower respiratory infections,187,Influenza,1,Number,2017,9.693096,15.220940,5.725713
58017,3,YLDs (Years Lived with Disability),44869,Chahar Mahaal and Bakhtiari,3,Both,22,All ages,322,Lower respiratory infections,187,Influenza,1,Number,2019,9.921488,15.358224,5.979374
58030,3,YLDs (Years Lived with Disability),44869,Chahar Mahaal and Bakhtiari,3,Both,22,All ages,956,Respiratory infections and tuberculosis,190,Respiratory syncytial virus,1,Number,2017,4.063204,6.499147,2.438574
58031,3,YLDs (Years Lived with Disability),44869,Chahar Mahaal and Bakhtiari,3,Both,22,All ages,956,Respiratory infections and tuberculosis,190,Respiratory syncytial virus,1,Number,2019,3.999879,6.468043,2.369557

In [115]:
full_data = pd.concat([selection, filtered_data], axis=0)

In [116]:
selected_data = full_data[['location_name', 'cause_name', 'rei_name', 'val', 'year']]
selected_data = selected_data[selected_data['year']== 2019]

In [117]:
selected_data

,location_name,cause_name,rei_name,val,year
5,"Southeast Asia, East Asia, and Oceania",Respiratory infections and tuberculosis,H influenzae type B,814.400345,2019
31,Viet Nam,Respiratory infections and tuberculosis,Influenza,2531.050838,2019
65,Malaysia,Lower respiratory infections,Pneumococcus,2106.578956,2019
73,Albania,Respiratory infections and tuberculosis,Respiratory syncytial virus,17.309678,2019
81,Malaysia,Lower respiratory infections,Influenza,394.858883,2019
...,...,...,...,...,...
512789,Sudan,Chronic kidney disease due to diabetes mellitu...,Severe anemia,862.429870,2019
512804,San Marino,Chronic kidney disease due to hypertension,Anemia,24.233756,2019
512807,San Marino,Chronic kidney disease due to hypertension,Mild anemia,19.827871,2019
512810,San Marino,Chronic kidney disease due to hypertension,Moderate anemia,4.246584,2019
512813,San Marino,Chronic kidney disease due to hypertension,Severe anemia,0.159301,2019

In [118]:
pivot_table = pd.pivot_table(selected_data, values='val',  columns= ["cause_name"], index='location_name', dropna=True, aggfunc="sum")

In [119]:
pivot_table

cause_name,Chronic kidney disease due to diabetes mellitus type 1,Chronic kidney disease due to diabetes mellitus type 2,Chronic kidney disease due to hypertension,Diabetes and kidney diseases,Dietary iron deficiency,Lower respiratory infections,Nutritional deficiencies,Respiratory infections and tuberculosis,Vitamin A deficiency
location_name,,,,,,,,,
Aceh,NaN,NaN,NaN,NaN,NaN,382.061407,NaN,382.061407,NaN
Acre,NaN,NaN,NaN,NaN,NaN,100.377174,NaN,100.377174,NaN
Addis Ababa,NaN,NaN,NaN,NaN,NaN,151.275545,NaN,151.275545,NaN
Afar,NaN,NaN,NaN,NaN,NaN,125.875563,NaN,125.875563,NaN
Afghanistan,8510.405452,42745.647507,39532.021407,531234.581984,7.366635e+06,3097.055445,8.326473e+06,3097.055445,878759.579495
...,...,...,...,...,...,...,...,...,...
Zambia,4163.131483,13463.965230,13316.104711,163213.737090,1.118201e+07,829.893817,1.144514e+07,829.893817,255749.422952
Zanjan,NaN,NaN,NaN,NaN,NaN,56.825783,NaN,56.825783,NaN
Zimbabwe,4673.495270,15741.370294,13674.568515,198612.703250,4.722254e+06,1210.246678,5.038300e+06,1210.246678,316045.756823
Ōita,NaN,NaN,NaN,NaN,NaN,61.072751,NaN,61.072751,NaN
Ōsaka,NaN,NaN,NaN,NaN,NaN,346.985231,NaN,346.985231,NaN

In [120]:
threshold = 5  # Set the threshold to the number of non-NaN values you require
final_data = pivot_table.dropna()

In [121]:
final_data

cause_name,Chronic kidney disease due to diabetes mellitus type 1,Chronic kidney disease due to diabetes mellitus type 2,Chronic kidney disease due to hypertension,Diabetes and kidney diseases,Dietary iron deficiency,Lower respiratory infections,Nutritional deficiencies,Respiratory infections and tuberculosis,Vitamin A deficiency
location_name,,,,,,,,,
Afghanistan,8510.405452,42745.647507,39532.021407,5.312346e+05,7.366635e+06,3097.055445,8.326473e+06,3097.055445,878759.579495
Albania,753.182929,6185.590499,4600.197294,4.968212e+04,5.514695e+05,113.370769,5.610563e+05,113.370769,9586.868877
Algeria,11842.162188,135800.298369,103944.248082,1.221153e+06,7.605511e+06,2219.781063,7.752054e+06,2219.781063,129878.130065
American Samoa,5.900786,271.555717,204.163232,1.899544e+03,1.630310e+04,4.160778,1.647480e+04,4.160778,171.697132
Andorra,8.421582,103.644725,104.744619,8.880552e+02,4.068526e+03,2.050096,4.074660e+03,2.050096,6.133462
...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),3459.440715,85574.787597,66604.059406,6.518143e+05,3.443361e+06,1943.983418,3.525673e+06,1943.983418,75026.135702
Viet Nam,8383.202862,219037.331916,169273.091920,1.803900e+06,1.566153e+07,7149.652117,1.588055e+07,7149.652117,178689.371077
Yemen,10166.917052,45701.178463,38435.526879,4.933719e+05,1.491473e+07,2281.411987,1.553609e+07,2281.411987,548806.633777
Zambia,4163.131483,13463.965230,13316.104711,1.632137e+05,1.118201e+07,829.893817,1.144514e+07,829.893817,255749.422952
Zimbabwe,4673.495270,15741.370294,13674.568515,1.986127e+05,4.722254e+06,1210.246678,5.038300e+06,1210.246678,316045.756823

In [122]:
final_data.to_csv('diseases.csv')